@font-face {
    font-family: 'goodVibrations'; /*a name to be used later*/
    src: url('fonts/GoodVibrationsROB_Script.ttf'); /*URL to font*/
}
h1 {
    font:  50px 'goodVibrations';
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h4 {
    font: 33px 'goodVibrations';
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
header, footer {
    min-width:100%;
    text-align: center;
    background-color: white;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
footer {
    bottom: 0;
    clear: both;
}
.left-sidebar {
    z-index: 0;
    overflow:scroll;
    position: absolute;
    left: 10%;
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.right-sidebar{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    overflow:scroll;
    height: 100%;
    z-index: 0;
    background-color: #FFFFF0;
}
.content {
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow:scroll;
}
#canvas {
    margin-bottom: 15px;
}
.middle {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.form-item {
    margin-bottom: 15px;
    margin-top: 10px;
}
.label-selector {
    background-color: #FFFFF0;
    width: 80px;
    height: 80px;
}